/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





/* CUSTOM STYLES */

/* elements */
body{
  font-family: 'Lato', sans-serif;
  font-family: 'Playfair Display', serif;
}
h1,h2,h3,h4{
  font-family: 'Playfair Display', serif;
}
h1{
  font-size: 6rem;
}
h2{
  font-size: 5rem;
  font-size: 3rem;
  line-height: 105px;
}
h3{
  font-size: 3rem;
  line-height: 55px;
}
h4{
  font-size: 2rem;
}
h5{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.7rem;
  font-weight: 300;
  color: #aaa;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
h5.eyebrow{
  margin-top: 100px;
  margin-bottom: -40px;
}
hr{
  border-top: 4px solid black;
  width: 120px;
}
a:link, a:visited, a:hover, a:active{
  color: black;
  text-decoration: none;
}
/* a:link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 500ms;
  margin: 10px auto;
}
a:hover::after{
  width: 100%;
} */

.loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.number{
  opacity: 0;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  /* opacity: 0.3; */
}

.brands a:link,
.brands a:visited,
.brands a:hover,
.brands a:active{
  text-decoration: underline;
}
input, textarea{
  font-size: 0.8rem;
  font-weight: 300;
  outline: none;
  padding: 10px 0px;
  width: 100%;
  resize: none;
  /* border: 1px solid #F9FAFC; */
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}
button{
  cursor: pointer;
  outline: none;
  padding: 20px 30px;
  background-color: #000;
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  transition: 300ms;
}
button:hover, button:active{
  color: white;
  background-color: #1b1b1b;
}
img{
  width: 100%;
  display: block;
}
img.mockup{
  margin-bottom: 30px;
}

/* areas */
.content{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.hero{
  padding-top: 200px;
}
.section{
  padding-top: 100px;
}
/* .section--mood{
  margin-top: 200px;
  height: 1000px;
  background: url(../img/mood.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */
.section-contact textarea, .section-contact input{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.title{
  font-family: 'Playfair Display', serif;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
  font-weight: 600;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid #F9FAFC;
  font-size: 0.8rem;
  z-index: 10;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* text-align: center; */
}
.navbar ul{
  margin-top: 3px;
  float: right;
}
.bottom-nav{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 300;
}
.footer {
  /* margin-top: 100px; */
  padding-top: 200px;
  padding-bottom: 100px;
  /* border-top: 1px solid #F9FAFC; */
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer p, .footer a{
  font-size: 0.7rem;
}
.footer li{
  margin-right: 0;
  margin-left: 40px;
}
.footer h5{
  letter-spacing: 2px;
}
h5.social{
  margin-left: 40px;
}

.inverted p, .inverted h5 {
  font-family: "Lato", sans-serif !important;
}
.inverted p{
  font-weight: 300;
}

.inverted{
  color: #fff;
  /* background-color: #1b1b1b; */
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.inverted a {
  color: #fff;
}
.inverted hr {
  border-top: 4px solid white;
}
.inverted .line-style--1{
  border-left-color: #fff;
}
.inverted .line-style--2,
.inverted .line-style--3{
  border-right-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
}
li {
  display: inline-block;
  margin-left: 40px;
  /* margin-right: 20px; */
}
.left-quote{
  position: absolute;
  top: 14px;
  left: 7px;
}
.quote_title{
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
}
.bg-1{
  background-image: url("../img/raw/media_link/brand2.jpg");
  background-position: center center;
  background-size: cover;
  /* height: 100%; */
  height: 500px;
  width: calc(50% - 5px);
  display: inline-block;
  /* -webkit-filter: grayscale(1);
  filter: grayscale(1); */
}
.bg-2{
  background-image: url("../img/raw/media_link/brand4.jpg");
  background-position: center center;
  background-size: cover;
  /* height: 100%; */

  height: 500px;
  width: calc(50% - 5px);
  display: inline-block;
  /* -webkit-filter: grayscale(1);
  filter: grayscale(1); */
}
.space{
  display: inline-block;
  width: 10px;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


/* Carousel */
/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  height: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/*  */
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.mySlides {display: none}
img {vertical-align: middle;}



/* utilities */
.big{
  font-size: 2rem !important;
}
.line-style--1{
  border-left: 5px solid black;
  height: 100px;
  margin-bottom: -120px;
}
.line-style--2{
  border-right: 1px solid black;
  height: 100px;
  width: 50%;
  margin-top: -150px;
  margin-bottom: 50px;
}
.line-style--3{
  border-right: 1px solid black;
  height: 150px;
  width: 50%;
  margin-top: -100px;
  /* margin-bottom: 50px; */
}
.spacer{
  /* margin-bottom: 100px; */
  width: 100%;
  height: 100px;
}

/* helpers */
.t-c{
  text-align: center;
}
.t-r{
  text-align: right;
}
.f-r-md{
  float: right;
}
.t-type-2{
  font-family: 'Lato', sans-serif;
  text-align: center;
}
.pull-up-sm{
  margin-top: -25px;
}
.sans-serif{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hideme{
  opacity: 0;
}

.underline{
  margin-bottom: 50px;
}
.underline::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 1000ms;
  transition-delay: 500ms;
  margin-top: -50px;
}
.underline-viewed::after{
  width: 50%;
  /* width: 100px; */
}

/* .inverted .underline{
  margin-bottom: 0;
} */
.inverted .underline::after{
  /* margin-left: auto;
  margin-right: auto;
  height: 2px; */
  background: #fff;
  /* margin-top: 0px; */
}

@media only screen and (max-width: 550px) {
  .navbar ul{
    margin-top: 10px;
    float: none;
  }
  .navbar, .footer{
    text-align: center;
  }
  .navbar li{
    /* margin-top: 10px; */
    margin-right: 10px;
    margin-left: 10px;
  }
  .footer ul{
    margin-bottom: 60px;
  }
}
/* med */
@media only screen and (max-width: 768px){
  .f-r-md{
    float: none;
  }
  .footer h5{
    margin-left: 0;
  }
  .footer li{
    margin-left: 10px;
    margin-right: 10px;
  }
}